.tabbed {
  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: #1b1b22;
}

.switcher {
  display: flex;

  background: linear-gradient(to top, #191920, #1b1b22);
}

button.header {
  padding: 0.25rem 2rem;

  background-color: rgba(0, 0, 0, 0.25);

  border: 1px solid #0e0e11;
  border-top-right-radius: 10px;
  border-bottom: none;

  white-space: nowrap;

  cursor: pointer;

  &.active {
    background-color: #1b1b22;

    cursor: unset;

    color: #ddd;
  }

  &:first-of-type {
    border-left: none;
  }
}

.tab {
  display: none;

  overflow-y: auto;

  &.active {
    display: unset;
  }
}
