.tabbed {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-width: 280px;
  width: fit-content;

  padding-left: 0.5rem;

  background: var(--color-base);
}

.switcher {
  display: grid;
  grid-template-columns: auto auto;

  padding-top: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button.header {
  padding: 0.375rem 2rem;

  background: var(--color-mantle);
  color: var(--color-subtext0);

  border: none;
  border-radius: 0px;

  box-shadow: inset var(--box-shadow-item-centered-extralight);

  white-space: nowrap;

  cursor: pointer;

  transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out,
    background 100ms ease-in-out;

  &.active {
    background: var(--color-base);

    cursor: unset;

    color: var(--color-text);
  }

  &:first-of-type {
    border-left: none;

    border-top-left-radius: var(--border-radius-item-half);
  }

  &:nth-of-type(2) {
    border-top-right-radius: var(--border-radius-item-half);
  }

  &:nth-of-type(3) {
    border-bottom-left-radius: var(--border-radius-item-half);
  }

  &:last-of-type {
    border-bottom-right-radius: var(--border-radius-item-half);
  }

  &:active,
  &:hover {
    box-shadow: inset var(--box-shadow-item-centered-extralight);

    &:not(.active) {
      box-shadow: inset var(--box-shadow-item-centered-light);
      background: var(--color-mantle);
      color: var(--color-text);
    }
  }
}

.tab {
  height: 0px;
  visibility: hidden;

  overflow-y: auto;

  &.active {
    height: unset;
    visibility: unset;
  }
}
