.tabbed {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: fit-content;

  background: var(--color-base);
}

.switcher {
  display: flex;

  padding-top: 2px;
}

button.header {
  padding: 0.375rem 2rem;

  background: var(--color-mantle);
  color: var(--color-subtext0);

  border: none;
  border-radius: 0px;
  border-top-left-radius: var(--border-radius-item);
  border-top-right-radius: var(--border-radius-item);

  box-shadow: inset var(--box-shadow-item-extralight-inverted);

  white-space: nowrap;

  cursor: pointer;

  transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out,
    background 100ms ease-in-out;

  &.active {
    background: var(--color-base);
    box-shadow: none;

    cursor: unset;

    color: var(--color-text);
  }

  &:first-of-type {
    border-left: none;
  }

  &:active,
  &:hover {
    &:not(.active) {
      box-shadow: inset var(--box-shadow-item-light-inverted);
      background: var(--color-mantle);
      color: var(--color-text);
    }
  }
}

.tab {
  height: 0px;
  visibility: hidden;

  overflow-y: auto;

  &.active {
    height: unset;
    visibility: unset;
  }
}
