.dialog {
  position: fixed;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  // background: #333;
  background: radial-gradient(
    farthest-corner at 0% 100%,
    #1c1b28 0%,
    #1c1b24 20%,
    #1b1b22 33%,
    #1c1b24 50%,
    #1c1b25 100%
  );

  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.25);

  border-radius: 0px;

  overflow: hidden;

  transform: translate(-50%, -50%);
}
