.dialog-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100% + 4rem);

  margin: -2rem;
  margin-top: 1rem;

  padding: 1rem 2rem;

  // background: rgba(0, 0, 0, 0.1);
}
