.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(var(--color-overlay2-raw), 0.3);

  pointer-events: none;

  opacity: 0;

  // FIXME: This transition feels weird
  transition: opacity 250ms ease-in-out;

  &.active {
    pointer-events: unset;

    opacity: 1;
  }
}
