.dialog-open-project {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 100%;

  margin: 0.25rem 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.dialog-open-project-title {
  display: flex;
  align-items: center;
}

.dialog-open-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;

  text-align: center;
}

.dialog-open-name {
  margin: 0;
  padding: 0;
  padding-right: 4rem;

  border: 0px;

  background: none;

  &:hover,
  &:focus-visible {
    box-shadow: none;
  }
}

.dialog-open-project-button-menu {
  min-width: 0;
  width: 2rem;

  margin: 0;
  padding: 0;

  border: none;
  background: none;

  &:hover,
  &:focus-visible {
    box-shadow: none;
  }
}

.project-options-pop {
  position: absolute;

  padding: 1rem;

  pointer-events: none;
  opacity: 0;

  background: radial-gradient(
    farthest-corner at 0% 100%,
    #1c1b28 0%,
    #1c1b24 20%,
    #1b1b22 33%,
    #1c1b24 50%,
    #1c1b25 100%
  );

  transition: opacity 250ms ease-in-out;

  &.open {
    pointer-events: unset;

    opacity: 1;
  }
}
