@use './shared.module.scss';

.bar {
  margin-top: 0.25rem;
}

.title {
  min-width: 0px;

  color: var(--color-subtext0);

  font-size: 0.75rem;

  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.controls {
  margin-bottom: 0.25rem;
}
