@use './shared.module.scss';

.bar {
  margin-top: 0.25rem;
}

.title {
  min-width: 0px;

  color: #555;

  font-size: 0.75rem;

  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.controls {
  margin-bottom: 0.25rem;

  label {
    input,
    select {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 5px;
    }
  }
}
