.beat {
  display: flex;

  background: rgba(255, 255, 255, 0);

  transition: all 0s 0s ease-in-out;

  &.active {
    background: rgba(255, 255, 255, 0.1);
  }
}

.poly {
  flex: 1;
  display: flex;

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.note {
  min-width: 2rem;
  min-height: 2rem;

  padding: 0.25rem;

  border: 1px solid rgba(0, 0, 0, 0.25);
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 10px;

  flex: 1;

  text-align: center;

  &:last-of-type {
    border-right-color: transparent;
  }
}
