.beat {
  display: flex;

  background: var(--color-mantle);

  padding-bottom: 1px;

  transition: all 0s 0s ease-in-out;

  &:last-of-type {
    padding-bottom: 0px;
  }
}

.poly {
  flex: 1;
  display: flex;
}

.note {
  min-width: 2rem;
  min-height: 2rem;

  padding: 0.25rem;
  margin-right: 1px;

  border: none;
  border-radius: 0px;

  flex: 1;

  text-align: center;
}

.poly:last-of-type {
  .note {
    margin-right: 0px;
  }
}

.beat.active .note {
  background: var(--color-mantle);
}
