.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem 1rem;

  background: var(--color-base);
}

.project-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-control-save,
.project-control-open,
.project-control-new,
.project-control-settings {
  min-width: 0;

  padding: 0rem 1rem;
  margin: 0;

  font-size: 1rem;
  line-height: 0;

  background: none;

  border: none;

  transition: all 100ms ease-in-out;

  &:hover {
    background: none;
    box-shadow: none;
  }
}

.project-control-save {
  &:hover {
    color: var(--color-green);
  }
}

.project-control-open {
  &:hover {
    color: var(--color-yellow);
  }
}

.project-control-new {
  &:hover {
    color: var(--color-sky);
  }
}

.project-control-settings {
  &:hover {
    color: var(--color-subtext0);
  }
}

.spacer {
  flex: 1;
}

.play,
.stop,
.reset,
.bpm {
  height: 100%;
  width: 100px;

  & > svg {
    stroke-width: 1px;
  }

  &:hover {
    box-shadow: none;
  }
}

.reset,
.bpm {
  border-radius: 0px;
}

.bpm-wrapper {
  position: relative;
  height: 100%;
}

.bpm-text {
  position: absolute;
  left: 0.75rem;
  top: 50%;

  font-size: 0.75rem;

  pointer-events: none;

  transform: translateY(-50%);
}

.bpm {
  border-left-width: 0.5px;
  border-right-width: 0.5px;

  text-align: right;
}

.play,
.stop {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0.5px;
}

$control-button-alpha: 0.6;

.play {
  color: rgba(var(--color-green-raw), $control-button-alpha);

  &:hover,
  &:focus-visible {
    color: rgba(var(--color-green-raw), 1);
  }
}

.stop {
  color: rgba(var(--color-red-raw), $control-button-alpha);

  &:hover,
  &:focus-visible {
    color: rgba(var(--color-red-raw), 1);
  }
}

.reset {
  color: rgba(var(--color-yellow-raw), $control-button-alpha);

  border-left-width: 0.5px;
  border-right-width: 0.5px;

  &:hover,
  &:focus-visible {
    color: rgba(var(--color-yellow-raw), 1);
  }
}

.play,
.stop,
.reset {
  transition: all ease-in-out 100ms;
}

.title {
  margin: 0;
  padding: 0;

  font-size: 1.25rem;
  line-height: 1.25rem;

  a {
    color: var(--color-subtext0);

    text-decoration: none;
  }
}

input.project-title {
  margin: 0;
  margin-left: 1rem;

  font-size: 1rem;
  line-height: 1rem;

  border: none;

  text-overflow: ellipsis;

  background-color: var(--color-base);

  transition: box-shadow ease-in-out 250ms, background-color ease-in-out 250ms;

  &:hover,
  &:focus-visible {
    background-color: var(--color-mantle);

    box-shadow: inset var(--box-shadow-item-centered-light);
  }
}
