.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem 1rem;

  background: var(--color-base);
}

.project-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-control-save,
.project-control-open,
.project-control-new,
.project-control-settings {
  min-width: 0;

  padding: 0rem 1rem;
  margin: 0;

  font-size: 1rem;
  line-height: 0;

  background: none;

  border: none;

  &:hover {
    background: none;
    box-shadow: none;
  }
}

.project-control-save {
  &:hover {
    color: var(--color-green);
  }
}

.project-control-open {
  &:hover {
    color: var(--color-yellow);
  }
}

.project-control-new {
  &:hover {
    color: var(--color-sky);
  }
}

.project-control-settings {
  &:hover {
    color: var(--color-subtext0);
  }
}

.spacer {
  flex: 1;
}

.play,
.stop,
.reset,
.bpm {
  height: 100%;
  width: 100px;

  & > svg {
    stroke-width: 1px;
  }

  &:hover {
    box-shadow: none;
  }
}

.reset,
.bpm {
  border-radius: 0px;
}

.bpm-wrapper {
  position: relative;
  height: 100%;
}

.bpm-text {
  position: absolute;
  left: 0.75rem;
  top: 50%;

  font-size: 0.75rem;

  pointer-events: none;

  transform: translateY(-50%);
}

.bpm {
  border-left-width: 0.5px;
  border-right-width: 0.5px;

  text-align: right;
}

.play,
.stop {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0.5px;
}

.play {
  color: var(--color-green);

  &:hover,
  &:focus-visible {
    color: #0e0;
  }
}

.stop {
  color: var(--color-red);

  &:hover,
  &:focus-visible {
    color: #e00;
  }
}

.reset {
  color: var(--color-yellow);

  border-left-width: 0.5px;
  border-right-width: 0.5px;

  &:hover,
  &:focus-visible {
    color: #ee0;
  }
}

.title {
  margin: 0;
  padding: 0;

  font-size: 1.25rem;
  line-height: 1.25rem;

  a {
    text-decoration: none;
  }
}

input.project-title {
  margin: 0;
  margin-left: 1rem;

  padding: 5px;

  font-size: 1rem;
  line-height: 1rem;

  border: none;
  border-radius: 2000px;

  text-overflow: ellipsis;

  background-color: rgba(var(--color-black-raw), 0);
  box-shadow: 0px 0px 5px 0px rgba(var(--color-white-raw), 0);

  &:hover {
    background-color: rgba(var(--color-black-raw), 0.025);
    box-shadow: 0px 0px 5px 0px rgba(var(--color-white-raw), 0.025);
  }

  &:focus-visible {
    background-color: rgba(var(--color-black-raw), 0.05);
    box-shadow: 0px 0px 5px 0px rgba(var(--color-white-raw), 0.05);
  }
}
