.interface {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  background: radial-gradient(
    farthest-corner at -50% 0%,
    var(--color-base) 0%,
    var(--color-base) 50%,
    var(--color-base) 100%
  );

  &,
  * {
    user-select: none;
  }
}

.content {
  flex: 1;
  display: flex;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.track-section {
  flex: 1;

  display: flex;

  height: 100%;
  max-width: 100%;

  overflow: hidden;
}

.track-section-controls {
  display: flex;
  flex-direction: column;

  background: var(--color-base);

  padding: 0.5rem;

  button {
    min-width: 2rem;
    width: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    height: 2rem;
    max-height: 2rem;

    padding: 0;
    margin: 0;
    margin-top: 0.5rem;

    border-radius: 10px;
  }
}

.track-section-title {
  margin: 0;
  padding: 0;
  padding-right: 1rem;
}

.track-container-wrapper {
  position: relative;

  height: calc(100% - 0.5rem);
  width: 100%;

  overflow: hidden;

  background: var(--color-base);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;

    box-shadow: inset 0px 0px 5px 0px rgba(var(--color-black-raw), 0.125);
  }
}

.track-container {
  display: flex;
  align-items: baseline;

  max-width: 100%;
  height: 100%;

  padding: 0.25rem;

  background: var(--color-crust);

  overflow-x: scroll;
  overflow-y: hidden;
}

.track-container,
.track-container-wrapper::after {
  border-radius: var(--border-radius-item);
}

.tabbed-wrapper {
  position: relative;
  max-width: 30rem;

  transition: max-width ease-in-out 250ms;

  &.closed {
    max-width: 0.5rem;
  }
}

.tabbed-toggle {
  position: absolute;
  top: calc(4rem - 2.5px);
  right: calc(100% - 0.5px);

  min-width: 0;

  height: 4rem;

  padding: 0 0.1rem;

  border: none;
  border-radius: var(--border-radius-item);

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  box-shadow: var(--box-shadow-item-light);

  clip-path: path('M 16.6 -10000 L 16.6 10000 L -100 -10000 Z');

  line-height: 0;

  transform: translateY(-50%);
}
