@use './shared.module.scss';

.sample {
  width: 100%;

  max-width: 100%;

  span,
  input {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    // max-width: 125px;
  }
}

.sample-name {
  max-width: 4rem;
}
