@use './shared.module.scss';

.track {
  display: flex;
  flex-direction: column;

  max-height: calc(100% - 1rem);
  min-width: fit-content;
  width: fit-content;

  margin: 0.5rem;

  background: var(--color-base);

  border-radius: var(--border-radius-item);

  box-shadow: var(--box-shadow-item);

  overflow-y: scroll;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  flex-direction: column;

  margin-bottom: 0.5rem;

  label {
    width: 100%;
    margin: 0.125rem 0;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  white-space: nowrap;
  text-overflow: ellipsis;

  padding: 0 1rem;

  button {
    min-width: 2rem;

    padding: 6px;
  }
}
