@keyframes breathe {
  0% {
    transform: skew(0, 0) scale(1, 1);
  }

  25% {
    transform: skew(-12deg, 14deg) scale(1.025, 0.95);
  }

  50% {
    transform: skew(0, 0) scale(1, 1);
  }

  100% {
    transform: skew(12.25deg, -14.25deg) scale(1.0125, 0.975);
  }
}

.eye {
  width: 95vw;
  max-width: 600px;
  height: 95vw;
  max-height: 600px;
  transform: skew(0, 0) scale(1, 1);

  animation: breathe 24s ease-in-out 0s infinite alternate;

  &.full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    max-width: 100%;
    max-height: 100%;

    transform: none;

    animation: none;
  }
}
