@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import '@catppuccin/palette/style';

@mixin set-color($flavor, $color) {
  --color-#{$color}: var(--ctp-#{$flavor}-#{$color});
  --color-#{$color}-rgb: var(--ctp-#{$flavor}-#{$color}-rgb);
  --color-#{$color}-hsl: var(--ctp-#{$flavor}-#{$color}-hsl);
  --color-#{$color}-raw: var(--ctp-#{$flavor}-#{$color}-raw);
}

$colors-theme: 'rosewater', 'flamingo', 'pink', 'mauve', 'red', 'maroon',
  'peach', 'yellow', 'green', 'teal', 'sky', 'sapphire', 'blue', 'lavender';

$colors-text: 'text', 'subtext1', 'subtext0';
$colors-overlay: 'overlay2', 'overlay1', 'overlay0';
$colors-surface: 'surface2', 'surface1', 'surface0';
$colors-infastructure: 'crust', 'mantle', 'base';

$colors-all: $colors-theme, $colors-text, $colors-overlay, $colors-surface,
  $colors-infastructure;

@mixin set-flavor-colors($flavor) {
  @each $color-set in $colors-all {
    @each $color in $color-set {
      @include set-color($flavor, $color);
    }
  }
}

:root {
  --color-white: #ffffff;
  --color-white-rgb: rgb(255, 255, 255);
  --color-white-hsl: hsl(0, 0%, 100%);
  --color-white-raw: 255, 255, 255;

  --color-black: #000000;
  --color-black-rgb: rgb(0, 0, 0);
  --color-black-hsl: hsl(0, 0%, 0%);
  --color-black-raw: 0, 0, 0;

  --color-primary-red: #ff0000;
  --color-primary-red-rgb: rgb(255, 0, 0);
  --color-primary-red-hsl: hsl(0, 100%, 50%);
  --color-primary-red-raw: 255, 0, 0;

  --color-primary-green: #00ff00;
  --color-primary-green-rgb: rgb(0, 255, 0);
  --color-primary-green-hsl: hsl(120, 100%, 50%);
  --color-primary-green-raw: 0, 255, 0;

  --color-primary-blue: #0000ff;
  --color-primary-blue-rgb: rgb(0, 0, 255);
  --color-primary-blue-hsl: hsl(240, 100%, 50%);
  --color-primary-blue-raw: 0, 0, 255;

  @media (prefers-color-scheme: light) {
    @include set-flavor-colors('latte');
  }

  @media (prefers-color-scheme: dark) {
    @include set-flavor-colors('frappe');
  }

  & {
    --box-shadow-item: 0px 2px 4px rgba(var(--color-black-raw), 0.3);
    --box-shadow-item-light: 0px 2px 4px rgba(var(--color-black-raw), 0.05);
    --box-shadow-item-extalight: 0px 2px 4px rgba(var(--color-black-raw), 0.025);

    --box-shadow-item-inverted: 0px -2px 4px rgba(var(--color-black-raw), 0.3);
    --box-shadow-item-light-inverted: 0px -2px 4px rgba(var(--color-black-raw), 0.05);
    --box-shadow-item-extralight-inverted: 0px -2px 4px rgba(var(--color-black-raw), 0.025);

    --box-shadow-item-centered: 0px 0px 4px rgba(var(--color-black-raw), 0.3);
    --box-shadow-item-centered-light: 0px 0px 4px
      rgba(var(--color-black-raw), 0.05);

    --border-radius-item: 10px;
    --border-radius-item-half: 5px;
  }
}

:root,
html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  line-height: 1.5;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--color-blue);
}

label {
  text-align: center;

  color: var(--color-subtext0);
}

select,
a.button,
button,
input {
  min-width: 100px;
  padding: 0.5rem;

  background: var(--color-base);

  border: 1px solid var(--color-crust);
  border-radius: var(--border-radius-item-half);

  color: var(--color-text);

  transition: box-shadow 100ms ease-in-out;

  &:hover,
  &:focus-visible {
    box-shadow: var(--box-shadow-item-light);
  }

  &:focus-visible {
    outline: 1px solid rgba(var(--color-blue-raw), 0.6);
  }

  @each $color in $colors-theme {
    &.#{$color} {
      border: none;
      background: var(--color-#{$color});
      color: var(--color-base);
    }
  }
}

input[type='checkbox'],
input[type='range'] {
  accent-color: var(--color-blue);

  &:hover,
  &:focus-visible {
    box-shadow: none;
  }
}

button,
select {
  cursor: pointer;
}

a.button {
  text-decoration: none;
}

p.small {
  margin-top: 0;
  padding-top: 0;

  font-size: 0.75rem;

  color: var(--color-subtext0);
}
