.container {
  width: 100%;
  height: 100%;

  background-color: var(--color-black);
}

.canvas {
  width: 100%;
  height: 100%;

  object-fit: contain;

  background-color: var(--color-black);

  transform: scaleY(0.1);
}
