.navigation {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  z-index: 1;
}

.title-container {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  overflow: hidden;

  pointer-events: none;

  box-shadow: inset var(--box-shadow-item-centered);

  background: var(--color-crust);
}

.title {
  width: min-content;
  margin: 0;

  text-align: center;

  font-family: 'Archivo Black', sans-serif;

  font-size: 15vw;
  line-height: 11vw;

  & .blue {
    color: var(--color-teal);
  }

  & .green {
    color: var(--color-sky);
  }
}

.navigation-section {
  width: 100%;
  height: 100%;

  padding-top: 2rem;

  a {
    margin: 0.5em;

    font-weight: 700;
    color: var(--color-blue);
    text-decoration: none;
  }
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95%;
  max-width: 900px;

  margin: 2rem auto;
  padding: 2rem;

  background: rgba(var(--color-base-raw), 0.6);

  backdrop-filter: blur(60px);

  border-radius: var(--border-radius-item);

  box-shadow: var(--box-shadow-item);
}
